{% extends "base.html" %}

{% block title %}
    Create Lineups - Fantasy Finesse
{% endblock title %}

{% block main %}

<h1>Create Lineups</h1>

<div class="grid-container">

<br>
<div class="card grid-item" style="width: 60rem;">


<div>
    <form method="post" >
      {% csrf_token %}
      {% comment %} <form class='grid-item' method="get" action="{% url 'create_lineups' draftpool.draft_group_id %}">
        <label for="position">Filter by Position:</label>
        <select name="position" id="position">
            <option value="" selected>All Positions</option>
            <option value="PG">PG</option>
            <option value="SG">SG</option>
            <option value="C">C</option>
            <option value="SF">SF</option>
            <option value="PF">PF</option>
        </select>
        <button class="btn btn-dark" type="submit">Filter</button>
        </form> {% endcomment %}

    {{ formset.management_form }}
    <br>
    <div class="form-outline">
      <label for="num_lineups">Number of Lineups:</label>
      <input type="number" name="num_lineups" id="num_lineups" value="5" min="1" required>
    </div>
    <button type="submit" class="btn btn-dark">Generate</button>
    <br>
    <table class="table table-striped">
      <thead>
        <tr>
          <th hidden>Player ID</th>
          <th>Player</th>
          <th>Salary</th>
          <th>Position</th>
          <th>FPPG</th>
          <th>Status</th>
          <th>Lock</th>
          <th>Exclude</th>
          {% if draftpool.contest_type_id == 81 %}
          <th>CPT</th>
          {% endif %}
          <th>Min EXP</th>
          <th>Max EXP</th>
        </tr>
      </thead>
      <tbody>
        {% for form in formset %}
          <tr scope="row">
            <td hidden>{{ form.player_id }}</td>
            <td>{{ form.name }}</td>
            <td>{{ form.salary }}</td>
            <td>{{ form.position }}</td>
            <td>{{ form.fppg }}</td>
            {% if form.status.value != "None" %}
              <td>{{ form.status.value }}</td>
            {% else %}
              <td></td>
            {% endif %}
            <td>{{ form.lock }}</td>
            <td>{{ form.exclude }}</td>
            {% if draftpool.contest_type_id == 81 %}
            <td>{{ form.captain }}</td>
            {% endif %}
            <td>{{ form.min_exp }}</td>
            <td>{{ form.max_exp }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <button type="submit" class="btn btn-dark">Generate</button>
  </form>
</div>
</div>
{% endblock main %}
