{% extends "base.html" %}

{% load mathfilters %}

{% block title %}
    Create Lineups - Fantasy Finesse
{% endblock title %}

{% block main %}
  <body>
    <div class="container" >
      <div class="row">
        <div class="col " style="width: 60rem;">
          <!-- Bootstrap Card -->
          <div class="card" >
            <div class="card-header">
                <h1>Create Lineups</h1>
            </div>
            <div class="card-body">
                <form method="post">
                <!-- Number of Lineups Input -->
              <!-- Scrollable Table Container -->
              <input type="text" id="myInput" onkeyup="searchPlayers()" placeholder="Search for players..">

              {% if draftpool.sport == 'NBA' %}
                {% include "lineups/nba_pos_filters.html" %}
              {% elif draftpool.sport == 'NFL' %}
                {% include "lineups/nfl_pos_filter.html" %}
              {% endif %}

              <div class="table-container" style="max-height: 60vh; overflow-y: auto;">

                  {% csrf_token %}
                  {{ formset.management_form }}

                  <!-- Bootstrap Table -->
                  <table class="table table-bordered" id='myTable'>
                    <thead>
                      <tr>
                        <th hidden>Player ID</th>
                        <th>Player</th>
                        <th>Salary</th>
                        <th>Position</th>
                        <th>Team</th>
                        <th>FPPG</th>
                        <th>Status</th>
                        <th>DPP</th>
                        <th>Lock</th>
                        <th>Exclude</th>

                        {% if draftpool.contest_type_id == 81 or draftpool.contest_type_id == 159 or draftpool.contest_type_id == 96%}
                          <th>CPT</th>
                        {% endif %}

                        <th>Min EXP</th>
                        <th>Max EXP</th>
                      </tr>
                    </thead>

                    <tbody>
                      <!-- Formset Loop -->
                      {% for form in formset %}
                        <tr scope="row">
                          <td hidden>{{ form.player_id }}</td>
                          <td>{{ form.name }}</td>
                          <td>{{ form.salary }}</td>
                          <td>{{ form.position }}</td>
                          <td>{{ form.team }}</td>
                          <td>{{ form.fppg }}</td>
                          {% if form.status.value != "None" %}
                            <td>{{ form.status.value }}</td>
                          {% else %}
                            <td></td>
                          {% endif %}
                          <td>{{form.salary.value|div:form.fppg.value |floatformat:1 }}</td>
                          <td>{{ form.lock }}</td>
                          <td>{{ form.exclude }}</td>

                          {% if draftpool.contest_type_id == 81 or draftpool.contest_type_id == 159 or draftpool.contest_type_id == 96 %}
                            <td>{{ form.captain }}</td>
                          {% endif %}

                          <td>{{ form.min_exp }}</td>
                          <td>{{ form.max_exp }}</td>
                        </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>

                  <div class="container">
                    <div class="form-group col-md-6">
                        <label for="num_lineups">Number of Lineups:</label>
                        <input type="number" name="num_lineups" id="num_lineups" value="5" min="1" required>
                    </div>
                    <button type="submit" class="btn btn-dark">Generate</button>
                    </div>
                </form>
              </div>
              <!-- End Scrollable Table Container -->
            </div>
          </div>
          <!-- End Bootstrap Card -->
        </div>
      </div>
    </div>

    <!-- Bootstrap JS and Popper.js -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </body>
{% endblock main %}
