{% extends "base.html" %}

{% block title %}
    DraftPools List - Fantasy Finesse
{% endblock title %}

{% block main %}

<h1>DraftPools</h1>

<label for="leagueFilter">League</label>
              <select id="leagueFilter" onchange="filterByLeague()" style='max-width: 55px;'>
                <option value="">All</option>
                <option value="NBA">NBA</option>
                <option value="NFL">NFL</option>
              </select>

<label for="typeFilter">Type</label>
              <select id="typeFilter" onchange="filterByType()" style='max-width: 55px;'>
                <option value="">All</option>
                <option value="Classic">Classic</option>
                <option value="Showdown">Showdown</option>
              </select>

<table class="table table-striped" id='myTable'>
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">TYPE</th>
      <th scope="col">League</th>
      <th scope="col">Starts In</th>
      <th scope="col">Start Date</th>
      <th scope="col">Games</th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
        {% for draftpool in draftpools %}
        <tr href="{% url 'create_lineups' draftpool.draft_group_id %}">
              <td><a href="{% url 'create_lineups' draftpool.draft_group_id %}">{{ forloop.counter }}</td>
              {% if draftpool.contest_type_id == 81 or draftpool.contest_type_id == 96 %}
              <td><a href="{% url 'create_lineups' draftpool.draft_group_id %}">Showdown</a></td>
              {% elif draftpool.contest_type_id == 188 %}
              <td><a href="{% url 'create_lineups' draftpool.draft_group_id %}">Snake</a></td>
              {% elif draftpool.contest_type_id == 73 %}
              <td><a href="{% url 'create_lineups' draftpool.draft_group_id %}">Tiered</a></td>
              {% elif draftpool.contest_type_id == 70 %}
              <td><a href="{% url 'create_lineups' draftpool.draft_group_id %}">Classic</a></td>
              {% elif draftpool.contest_type_id == 193 %}
              <td><a href="{% url 'create_lineups' draftpool.draft_group_id %}">Snake Showdown</a></td>
              {% elif draftpool.contest_type_id == 112 %}
              <td><a href="{% url 'create_lineups' draftpool.draft_group_id %}">In-Game Showdown (H2)</a></td>
              {% elif draftpool.contest_type_id == 113 %}
              <td><a href="{% url 'create_lineups' draftpool.draft_group_id %}">In-Game Showdown (Q4)</a></td>
              {% elif draftpool.contest_type_id == 1 %}
              <td><a href="{% url 'create_lineups' draftpool.draft_group_id %}">Classic</a></td>
              {% elif draftpool.contest_type_id == 158 %}
              <td><a href="{% url 'create_lineups' draftpool.draft_group_id %}">Madden Classic</a></td>
              {% elif draftpool.contest_type_id == 159 %}
              <td><a href="{% url 'create_lineups' draftpool.draft_group_id %}">Madden Showdown</a></td>
              {% else %}
              <td>{{ draftpool.contest_type_id }}</td>
              {% endif %}
              <td>{{ draftpool.sport }}</td>
              <td>{{ draftpool.starts_at|timeuntil }}</td>
              <td>{{ draftpool.starts_at }}</td>
              <td>{{ draftpool.games_count }}</td>
          </tr>
        {% endfor %}
  </tbody>
</table>
{% endblock main %}
