{% extends "base.html" %}

{% block title %}
    Fantasy Finesse
{% endblock title %}

{% block main %}
    <br>
    <div class="row">
        <div class="offset-2 col-8">
          <div class="card">
            <div class="card-body">
                <h3>Welcome to Fantasy Finesse!</h3>
                <p class="card-text">Welcome to Fantasy Finesse, your go-to destination for mastering daily fantasy sports! As the creator of this dynamic Django web application, I present to you a powerful tool meticulously crafted for fantasy sports enthusiasts. Fantasy Finesse seamlessly integrates with the DraftKings API, extracting real-time player data to provide you with the most up-to-date information for your daily fantasy contests. This project serves as a testament to my skills and passion for web development, designed as a standout addition to my resume. With Fantasy Finesse, you have the ability to customize and crunch fantasy sports lineups based on your unique preferences and strategies. Whether you're a seasoned player or just starting your fantasy sports journey, Fantasy Finesse empowers you to make informed decisions and elevate your daily fantasy gaming experience. Explore the features, enjoy the intuitive interface, and take your fantasy sports finesse to new heights!</p>
              
              <div class="row">
                <div class="offset-2 col-8">
                  <div class="card">
                    <div class="card-header">
                      <h5 class="mb-0">Instructions</h5>
                    </div>
                    <div class="card-body">
                      <ol>
                        <li><strong>Select Draft Pool:</strong> Begin by choosing your preferred draft pool from the available options.
                          Explore a diverse selection of players to curate a lineup that aligns with your fantasy sports strategy.</li>
                        <li><strong>Customize Player Options:</strong> Fine-tune your lineup with precision by utilizing Fantasy
                          Finesse's robust customization features. Include or exclude specific players based on your preferences. Set
                          minimum and maximum exposure levels to ensure a well-balanced and strategic lineup.</li>
                        <li><strong>Download CSV and Upload to DraftKings:</strong> Once you've perfected your fantasy lineup,
                          effortlessly download the CSV file containing your selected players and their associated data. Seamlessly
                          upload this file to your DraftKings account, saving you time and ensuring a smooth transition from Fantasy
                          Finesse to the actual game.</li>
                      </ol>
                    </div>
                  </div>
                  <br>
                  <a href="/lineups/draftpools/" class="btn btn-primary">Create Lineups</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

{% endblock main %}