{% extends "base.html" %}

{% block title %}
    Lineups - Fantasy Finesse
{% endblock title %}

{% block main %}
<div class="display: flex; align-items: center; margin-right: 20px;">
    <a href="{% url 'lineups_csv' lineups.id %}" class="margin-right: 10px;">
      <h2>Download CSV</h2>
    </a>
    <a href="https://myaccount.draftkings.com/signup?returnPath=%2flineup%2fupload" class="btn btn-primary">DraftKings</a>
  </div>
<br>
<h1>Lineups</h1>
<div class="row row-cols-1 row-cols-md-2 g-2 " >
    {% if lineups.draft_pool.contest_type_id == 81 or lineups.draft_pool.contest_type_id == 159 or lineups.draft_pool.contest_type_id == 96%}
        {% include "lineups/showdown_lineup.html" %}
    {% else %}
        {% include "lineups/classic_lineup.html" %}
    {% endif %}
</div>
{% endblock main %}
