<label for="positionFilter">Filter Position</label>
<select id="positionFilter" onchange="filterByPosition()" style='max-width: 55px;'>
  <option value="">All</option>
  <option value="PF">PF</option>
  <option value="SF">SF</option>
  <option value="PG">PG</option>
  <option value="SG">SG</option>
  <option value="C">C</option>
  <option value="G">G</option>
  <option value="F">F</option>
</select>
