<label for="positionFilter">Filter Position</label>
<select id="positionFilter" onchange="filterByPosition()" style='max-width: 55px;'>
  <option value="">All</option>
  <option value="QB">QB</option>
  <option value="WR">WR</option>
  <option value="RB">RB</option>
  <option value="TE">TE</option>
  <option value="DST">DST</option>
</select>
