{% load mathfilters %}
{% for lineup in lineups.lineup_group.all %}
    <div class="card border-dark mx-1" style="width: 24rem;">
        <div class="card-header">
            <div class="row">
                <div class="col text-left">#{{ forloop.counter }}</div>
                <div class="col text-center">{{ lineup.projected_points }} pts</div>
                <div class="col text-right" style="align">${{ lineup.total_salary}}</div>
            </div>
        </div>
        <table class="table table-striped">
            <thead>
                <th>Position</th>
                <th>Name</th>
                <th>FPPG</th>
                <th>Salary</th>
            </thead>
            <tbody>
                <tr>
                    <td>CPT</td>
                    <td>👨‍✈️ {{ lineup.cpt.name }}</td>
                    <td>{{ lineup.cpt.points_per_game|mul:1.5| floatformat:1 }}</td>
                    <td>{{ lineup.cpt.salary|mul:1.5| floatformat:0 }}</td>
                </tr>
                {% for player in lineup.locks.all %}
                <tr>
                    <td>UTIL</td>
                    <td>🔒 {{player.name }}</td>
                    <td>{{ player.points_per_game }}</td>
                    <td>{{ player.salary| floatformat:0 }}</td>
                </tr>
                {% endfor %}
                {% for player in lineup.players.all %}
                <tr>
                    <td>UTIL</td>
                    <td>{{ player.name }}</td>
                    <td>{{ player.points_per_game }}</td>
                    <td>{{ player.salary| floatformat:0 }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endfor %}
