.player_container {
    border: 2px solid black;
    max-width: 350px;
    min-width: 350px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-self: center;

}

.container-child {
    background-color: aquamarine;
}

main {
    justify-content: center;
    padding-left: 12px;
}

.table>:not(caption)>*>* {
    padding: 0 0
}

.grid-container{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
}

.grid-item {
    justify-self: center;
}
