{% extends "base.html" %}

{% block title %}
    {{ player.first_name }} {{ player.last_name }} Player Detail - Fantasy Finesse
{% endblock title %}

{% block main %}
    <div>
        <h1>{{ player.first_name }} {{ player.last_name }}</h1>
        <h2>Predicitions</h2>
        {% if prediction != 'Invalid Data' %}
            <p>Fantsy Points: {{ prediction }}</p>
            <p>Points: {{ points }}</p>
            <p>Rebounds: {{ rebounds }}</p>
            <p>Assists: {{ assists }}</p>
        {% else %}
            <p>Could not predict</p>
        {% endif %}
        <h2>Stats used for prediction</h2>
        <div class="card w-75">
            <table class='table table-striped' >
                <thead>
                    <th scope="col">#</th>
                    <th scope="col">Game</th>
                    <th scope="col">Date</th>
                    <th scope="col">Minutes</th>
                    <th scope="col">Fantasy Points</th>
                    <th scope="col">Points</th>
                    <th scope="col">Rebounds</th>
                    <th scope="col">Assists</th>
                    <th scope="col">Steals</th>
                    <th scope="col">Blocks</th>
                    <th scope="col">Turnovers</th>
                </thead>
                <tbody>
                    {% for stat in stats %}
                        <tr>
                            <td scope="row">{{ forloop.counter }}</td>
                            <td>{{ stat.game.away_team.code }} @ {{ stat.game.home_team.code }}</td>
                            <td>{{ stat.game.date_played|date }}</td>
                            <td>{{ stat.minutes }}</td>
                            <td>{{ stat.fantasy_points }}</td>
                            <td>{{ stat.points }}</td>
                            <td>{{ stat.total_rebound }}</td>
                            <td>{{ stat.assists }}</td>
                            <td>{{ stat.steals }}</td>
                            <td>{{ stat.blocks }}</td>
                            <td>{{ stat.turnovers }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock main %}
