{% extends "base.html" %}

{% block title %}
    Team List - Fantasy Finesse
{% endblock title %}

{% block main %}
    <div>
        <h1>Team List</h1>
        <table>
            <thead>
                <th>#</th>
                {% comment %} <th>Logo</th> {% endcomment %}
                <th>Name</th>
                <th>Code</th>
            </thead>
            <tbody>
                {% for team in teams %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        {% comment %} <td><img style="max-width:200px;max-height:200px;" src="{{ team.logo }}" /></img></td> {% endcomment %}
                        <td><a href="{% url 'team_detail' team.id %}">{{ team.name }}</a></td>
                        <td>{{ team.code }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock main %}
