{% extends "base.html" %}

{% block title %}
    {{ team.name }} Team Detail - Fantasy Finesse
{% endblock title %}

{% block main %}
    <div>
        <h1>{{ team.name }}</h1>
        <h2>Players</h2>
        <table>
            <thead>
                <th>#</th>
                <th>Name</th>
                <th>Position</th>
            </thead>
            <tbody>
                {% for player in players %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td><a href="{% url 'player_detail' player.id %}">{{ player.first_name }} {{ player.last_name }}</a></td>
                        <td>{{ player.position }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock main %}
